<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.cziyeli.soundbits"
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools">

	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.WAKE_LOCK" />

	<application
		android:name="com.cziyeli.soundbits.di.App"
		tools:replace="label, allowBackup"
		android:allowBackup="false"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">

		<activity
			android:name="com.cziyeli.soundbits.MainActivity"
			android:screenOrientation="portrait"
			>
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name="com.cziyeli.soundbits.cards.CardsActivity"
			android:screenOrientation="portrait" />

		<activity
			android:name="com.spotify.sdk.android.authentication.LoginActivity"
			android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

		<activity
			android:name="com.cziyeli.soundbits.root.RootActivity"
			android:theme="@style/HomeToPlaylist"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="adjustPan"
			android:label="@string/app_name" >
		</activity>

		<activity
			android:name="com.cziyeli.soundbits.playlistcard.PlaylistCardActivity"
			android:theme="@style/HomeToPlaylist.Back"
			android:screenOrientation="portrait"
			/>
		<activity
			android:name="com.cziyeli.soundbits.playlistcard.create.PlaylistCardCreateActivity"
			android:theme="@style/CreatePlaylist"
			android:screenOrientation="portrait"
			/>

		<meta-data
			android:name="preloaded_fonts"
			android:resource="@array/preloaded_fonts" />
	</application>

</manifest>